clone_folder: C:\dev\workspace\Sky

environment:
  SKY_PATH_BUILD_TOOLS: "C:/Program Files (x86)/Microsoft Visual Studio/2022/BuildTools"

  SKY_PATH_WINDOWS_KIT: "C:/Program Files (x86)/Windows Kits"

  matrix:
    - qt: qt5
      platform: win32
      compiler: msvc

    - qt: qt5
      platform: win64
      compiler: msvc

    - qt: qt6
      platform: win64
      compiler: mingw

    - qt: qt6
      platform: win64
      compiler: msvc

build_script:
  # Locate Visual Studio / BuildTools
  - cmd: |
      echo ==== LOCATING VISUAL STUDIO VIA VSWHERE ====
      set VSWHERE="%ProgramFiles(x86)%\Microsoft Visual Studio\Installer\vswhere.exe"

      %VSWHERE% -all -products * -format table
      echo.

      for /f "usebackq delims=" %%i in (`%VSWHERE% -latest -products * -property installationPath`) do (
        echo Detected VS install: %%i
        dir "%%i\VC\Tools\MSVC"
      )

  - sh environment.sh %compiler%
  - sh environment.sh %qt%
  - sh build.sh %platform% all
