image: Visual Studio 2022

clone_folder: C:\dev\workspace\Sky

environment:
  SKY_PATH_BUILD_TOOLS: "C:/Program Files/Microsoft Visual Studio/2022/Community"

  SKY_PATH_WINDOWS_KIT: "C:/Program Files (x86)/Windows Kits"

  matrix:
    - qt: qt5
      platform: win64
      compiler: msvc

    - qt: qt6
      platform: win64
      compiler: msvc

build_script:
  - sh environment.sh %compiler%
  - sh environment.sh %qt%
  - sh build.sh %platform% all
