image: Visual Studio 2022

clone_folder: C:\dev\workspace\Sky

environment:
  matrix:
    - qt: qt6
      platform: win64
      compiler: msvc

build_script:
  - cmd: |
      bash -lc "sh environment.sh %compiler% && sh environment.sh %qt% && sh build.sh %platform% all"
